.todo--checkbox {
    font-size: 1.375em;
}

label.todo--completed .todo--task-name {
    text-decoration: line-through;
}

label.todo--completed .todo--edit-task-btn {
    display: none;
}

/* Modo de visualização */
label span.todo--task-name {
    display: inline;
}

label input.todo--task-edit-text {
    display: none;
}

/* Modo de edição */
label.todo--edit-mode span.todo--task-name {
    display: none;
}

label.todo--edit-mode input.todo--task-edit-text {
    display: inline;
}